body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  overscroll-behavior: contain;
  background-color: #f8f9fa;
}
#main {
  max-width: 500px;
  margin: auto;
}
/*==================================================================  */
#settings {
  position: relative;
  margin: 5px;
  margin-top: 50px;
}
#settingsField {
  margin: auto;
  position: absolute;
  overflow: hidden;
  transition: all .3s;
  width: 100%;
  border-radius: 2px;
  background: #fcfcfc;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  z-index: 10;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
#btnShowSettings {
  position: relative;
  margin: auto;
  transition: all .3s;
  overflow: hidden;
  width: 100%;
  padding-top: 3px;
  display: block;
  color: #555;
  background: #fcfcfc;
  /* border: 1px solid #ccc; */
  height: 30px;
  z-index: 20;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
#btnShowSettings img {
  float: right;
  transition: all .3s;
  width: 18px;
}
#btnConfirm {
  margin: auto;
  text-align: center;
  display: block;
  width: 98%;
  height: 30px;
  color: #eee;
  background: #4caf50;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mode > .button {
  width: 50%;
  float: left;
  background: #fff;
}
.flag {
  width: 40px;
}
.arrow {
  width: 20px;
  margin-bottom: 10px;
}
.mode .active {
  background: #1867c0;
}
.dictionaries {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 5px 0 5px;
  height: 35px;
  transition: all .3s;
  border-bottom: 1px solid #ddd;
}
.dictionaries:hover {background: #eee;}

.dictionaries img {
  transition: all .3s;
  height: 30px;
  float: left;
  line-height: 30px;
  margin: 4px 5px 4px 5px;
  opacity: .6;
}
.infoDectionary {
  overflow: hidden;
  max-width: 70%;
  float: left;
}
.label {
  white-space: nowrap;
  overflow: hidden;
  transition: all .3s;
  font-size: 16px;
  color: #444;
  margin-bottom: 3px;
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
  font-size: 12px;
  color: #666;
}
.chekMark {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #ddd;
  float: right;
  margin: 8px 10px;
  background: #fff;

}
.chekMark::before {
  transition: all .3s;
  content: "";
  background: url(https://img.icons8.com/color/96/000000/checkmark.png) center center no-repeat ;
  background-size: cover;
  margin: -3px 0 0 -1px;
  width: 22px;
  height: 22px;
  display: block;
  transform: scale(0);

}
/* Заперщает выделение текста */
.dictionaries, .info {
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
/*==================================================================  */
/* Активное состояния словарей */
.active .chekMark::before {
  transform: scale(1);
}

/*==================================================================  */
.info {
  transition: all .3s;
  overflow: hidden;
  margin: 5px;
  color: #666;
  background: #fcfcfc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.progressField span {
  font-size: .7em;
  float: left;
}
#progress {
  font-size: .7em;
  float: right;
  margin-bottom: 3px;
}
.bar {
  overflow: hidden;
  width: 100%;
  height: 20px;
  border-radius: 3px;
  background: #ccc;
  overflow: hidden;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  margin-bottom: 3px;
}
#progressBar {
  transition: all .3s;
  width: 0%;
  height: 100%;
  background: #1867c0;
  color: #fff;
  font-size: .7em;
  text-align: center;
  line-height: 20px;
}
.statistics span{
  font-size: .7em;
  margin-top: 5px;
  margin-bottom: 3px;
}
.answer {
  text-align: center;
  float: left;
  height: 100%;
  transition: all .3s;
  color: #fff;
  font-size: .7em;
  line-height: 20px;
  overflow: hidden;
}
#answerTrue {
  float: left;
  width: 0%;
  background: #4caf50;
}
#answerFalse {
  float: right;
  width: 0%;
  background: #ff5252;
}
#answerTrue::before {
  content: "";
  display: block;
  float: left;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-image: url("https://img.icons8.com/color/96/000000/ok.png");
  background-size: cover;
}
#answerFalse::before {
  content: "";
  display: block;
  float: right;
  margin-left: 3px;
  width: 20px;
  height: 20px;
  background-image: url("https://img.icons8.com/color/96/000000/cancel.png");
  background-size: cover;
}
/*==================================================================  */

#container {
  margin: 10px;
  position: relative;
  transition: all .3s;

}
.card {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  background: #fff;
  float: left;
  border-radius: 3px;
  color: #444;
  transition: all .3s;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  position: absolute;
}
#cardOld {
  /* transform-origin: bottom; */
}
.text {
  overflow: hidden;
  padding: 7px;
}
.word {
  margin-bottom: 5px;
  padding-bottom: 3px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.word span, .translation span {
  float: left;
  color: #888;
  font-size: .6em;
  width: 100%;
}
.word p {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 1.2em;
}
.word small {
  display: block;
  float: left;
  font-size: 1.2em;
  margin-left: 5px;
  color: #999;
}
.translation p {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: #555;
  transition: all .3s;
  font-size: 1.1em;
}
.control {
  height: 40px;
  border-top: 1px solid #ddd;
  overflow: hidden;
  /* background: #fff; */
  padding: 5px;
}
.btnShow {
  color: #eee;
  width: 100%;
  margin-bottom: 10px;
  transition: all .3s;
  overflow: hidden;
  display: block;
  background: #1867c0;
}
.btnTrue{
  color: #eee;
  background: #4caf50;
  float: right;
}
.btnFalse{
  color: #eee;
  background: #ff5252;
  float: left;
}
.btnShow:hover {background: #3C85D6}
.btnTrue:hover {background: #66BE6A}
.btnFalse:hover {background: #FF7272}

.button {
  transition: all .3s;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-size: 1em;
}
.w100 {
  width: 49.5%;
  display: block;
}

@media screen and (orientation: portrait){
  #main {width: 100%;}
}
