#flower {
  /* overflow: hidden; */
  width: 115px;
  height: 115px;
  /* background: red; */
  margin-top: 100px;
  margin-left: 100px;
  transform-origin: center;
  transform: scale(0);
  transition: all .3s;
}
.petal {
  position: absolute;
  transform-origin: right;
  margin-top: 47px;
}
.petal span{
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background: #eee;
  border: 1px solid #ddd;
  float: left;
}
.petal p {
  margin: 0;
  padding: 0;
  width: 5px;
  height: 5px;
  float: left;
}

#petal1 {transform: rotateZ(60deg);}
#petal2 {transform: rotateZ(120deg);}
#petal3 {transform: rotateZ(180deg);}
#petal4 {transform: rotateZ(240deg);}
#petal5 {transform: rotateZ(300deg);}
#petal6 {transform: rotateZ(360deg);}
